html {
  font-size: 62.5%;
}

.container {
  max-width: 1333px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}
